@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #334155;
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

body::-webkit-scrollbar {
  width: 1px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  /* background: #1B2A80; */
}

.slick-arrow {
  background-color: #1b2a80;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  padding-left: 0.2px;
}

.slick-arrow:hover {
  background-color: #1b2a80;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  padding-left: 0.2px;
}

.slider-class::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

.slider-class::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.slider-class::-webkit-scrollbar-thumb {
  background: #1b2a80;
  border-radius: 10px;
}

input[type="checkbox"] {
  background-color: red;
  color: red;
}
